<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow video to record the whiteboard</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleName</key>
	<string>Board Stream</string>
	<key>CFBundleIdentifier</key>
	<string>boardstream.mihirpatil.me</string>
	<key>CFBundleExecutable</key>
	<string>appBoardStream</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>LSMinimumSystemVersion</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
